.body-container {
    display: flex;
}

.img-sidebar {
    display: flex;
    flex-direction: column;
}

.info-side {
    display: flex;
    flex-direction: column;
}

.background {
background-color: lightgray;
}

#city-img {
    width: 50px;
    height: auto;
    position: absolute;
}